// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $border-radius-base: 0; // if we wish to get rid of all the rounded corners

@import "global";

// variables used here
// $border-radius-base: 0; // from bootstrap
// $input-border // from bootstrap
// $input-color-placeholder; // from bootstrap
// $gray-light // from bootstrap
// $gray // from bootstrap
$mission-form-border: 1px $gray-light solid;
$single-mission-border: 1px $gray-light solid;
$image-field-height: 200px;

.missions {
  #missions {
    @extend .row;
    @extend .reset-ul;

    > li {
      @extend .col-xs-12;
      @extend .col-sm-6;
      margin-bottom: 15px;

      > div {
        padding: 10px;
        border: $single-mission-border;
        border-radius: $border-radius-base;
      }
    }

    h3 {

    }

    .meta {
      color: $gray;

      span {
        margin-right: 5px;
        display: inline-block;
      }

      .owner {
        font-weight: bold;
      }
    }

    .img {
      margin: 0 -10px 10px;
      
      img {
        @extend .img-responsive;
      } 
    }

    .actions {
      text-align: center;

      button {
        @extend .btn;
        border-radius: 20px;
        margin-right: 10px;
      }

      span {
        @extend .glyphicon;
      }

      .torches span {
        @extend .glyphicon-tree-deciduous;
      }

      .sponsors span {
        @extend .glyphicon-user;
      }

      .shares {
        margin-right: 0;

        span {
          @extend .glyphicon-share-alt;
        }
      }
    }

    .reason {
      color: $gray;
    }
  }
}

form.new_mission, form.edit_mission {
  @extend .row-fluid;

  padding: 10px;
  border: $mission-form-border;
  border-radius: $border-radius-base;

  .image_field {

    position: relative;
    border: 1px $input-border solid;
    height: $image-field-height;
    border-radius: $border-radius-base;

    label {
      @include absolute-top-left(50%);
      color: $input-color-placeholder;
      font-weight: normal;
      padding-left: 12px;
      font-size: 14px;
      margin-top: -10px;
    }

    img {
      @include absolute-top-left;
      height: $image-field-height;
      width: 100%;
      border-radius: $border-radius-base;
    }

    .buttons {
      width: 100%;
      @extend .clearfix;
      @include absolute-bottom-right(10px);

      button {
        float: right;
        margin-right: 10px;
      }
    }

    #mission_image, #mission_remove_image {
      display: none;
    }
  }

  #chosen_image {
    text-align: right;
  }

  .title {
    margin: 0 -10px 25px;
    padding: 10px;
    border: $mission-form-border;
    border-width: 1px 0;
    color: $input-color-placeholder;
  }

  .field-row {
    @extend .row;

    .category, .location, .deadline {
      @extend .col-md-4;
      @extend .input-group;
      margin-bottom: 15px;

      span {
        @extend .input-group-addon;
      }

      i {
        @extend .glyphicon;
      }
    }

    .category i {
      @extend .glyphicon-list-alt;
    }

    .location i {
      @extend .glyphicon-send;
    }

    .deadline i {
      @extend .glyphicon-calendar;
    }

    .radio_label {
      @extend .col-md-6;
      // text-align: right;
    }

    label {
      @extend .radio-inline;
      margin-right: -10px;
      font-weight: normal;
      color: $input-color-placeholder;

      &.first {
        @extend .col-xs-6;
        @extend .col-md-3;
        @extend .col-xs-offset-1;
        @extend .col-md-offset-0;
      }

      &.second {
        @extend .col-xs-5;
        @extend .col-md-3;
      }
    }
  }

  .actions {
    padding: 10px;
    margin: 0 -10px;
    border-top: $mission-form-border;
  }
}