<p class="actions">
  <button class="torches">
    <span></span> 0
  </button>
  <button class="sponsors">
    <span></span> 0
  </button>
  <button class="shares">
    <span></span> 0
  </button>
</p>